<%- include("partials/header.ejs") %>

<% if (post) { %>

    
<div class="blog-post-container">
    <div class="blog-info-content">
        <h2 class="blog-info-title"><%= post.postTitle %></h2>
        <p class="blog-info-text"><%= post.postText %></p>
    </div>
</div>

<div class="blog-info-content">
    <button class="btn btn-primary mybtn"><%= post.postCategory %></button>
    <p class="author-name"><%= admin.username %></p>
    <p class="post-created"><%= date %></p>
</div>




<% } else { %>

<div class="blog-info-container l">
    <div class="blog-info-content">
        <h2 class="blog-info-title" style="text-align: center;"><a class="blog-info-link">There is no post!</a></h2>
    </div>
</div>

<% } %>



<%- include("partials/footer.ejs") %>