<%- include("partials/header.ejs") %>

<% if (post) { %>

    
<div class="blog-post-container">
    <div class="blog-info-content">
        <h2 class="blog-info-title"><%= post.postTitle %></h2>
        <div class="markdown-content"><%- htmlContent %></div>
    </div>
</div>

<div class="blog-info-content">
    <div class="categories">
        <% const categories = post.postCategory.split(','); %>
        <% categories.forEach(category => { %>
        <button class="btn btn-primary mybtn"><a href="/category/<%=category.trim() %>" style="text-decoration: none; color: inherit;" ><%= category.trim() %></a></button>
        <% }); %>
    </div>
    <p class="author-name"><%= author.username %></p>
    <p class="post-created"><%= new Date(post.createdAt).toLocaleDateString() %></p>
</div>




<% } else { %>

<div class="blog-info-container l">
    <div class="blog-info-content">
        <h2 class="blog-info-title" style="text-align: center;"><a class="blog-info-link">There is no post!</a></h2>
    </div>
</div>

<% } %>



<%- include("partials/footer.ejs") %>