<%- include("partials/header.ejs") %>

<% if (posts && posts.length > 0) { %>

<div class="content-container">
    <% posts.forEach((post, i) => { %>
        <div class="blog-info-container <% if (i % 2 == 0) { %> l <% } else  {%> d <% } %>">
            <div class="blog-info-content">
              <div class="categories">
                <% const categories = post.postCategory.split(','); %>
                <% categories.forEach(category => { %>
                  <button class="btn btn-primary mybtn" style="margin-right: 5px;">
                    <a href="/category/<%= category.trim() %>" style="color: white; text-decoration: none;">
                      <%= category.trim() %>
                    </a>
                  </button>
                <% }); %>
              </div>
              <h2 class="blog-info-title">
                <a class="blog-info-link" href="/post/<%= post.slug %>"><%= post.postTitle %></a>
              </h2>
              <p class="blog-info-text"><%= post.snippet %></p>
              <p class="author-name">Author: <%= post.admin.username %></p>
              <p class="post-created">Date: <%= new Date(post.createdAt).toLocaleDateString() %></p>
            </div>
        </div>
    <% }) %>
</div>

<% } else { %>

<div class="blog-info-container l">
    <div class="blog-info-content">
        <h2 class="blog-info-title" style="text-align: center;">
          <a class="blog-info-link">There is no post!</a>
        </h2>
    </div>
</div>

<% } %>

<%- include("partials/footer.ejs") %>
